.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priceLabel{
  width:300px;
  text-align: center;
}

.priceLabel > p{
  font-size: 36px;
}

@keyframes colorize {
  0%   {background-color:red}
  30%  {background-color:green; }
  60% {background-color:red; }
  100%  {background-color:green; }
}

/* The element to apply the animation to */
.imgAnim{
  position: relative;
  border-radius: 150px;
  animation-name: colorize;
  animation-duration: 1s;
}

.btcImg {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}